[submodule "libs/terraphast"]
	path = libs/terraphast
	url = https://github.com/amkozlov/terraphast-one
[submodule "libs/coraxlib"]
	path = libs/coraxlib
	url = ../../Exelixis-Lab/coraxlib.git
	branch = dev
